h1
{
    color: firebrick;
}

body
{
    background-color: forestgreen;
}

#txt1
{
    width: 600px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    align-content: center;
}

ul li
{
    list-style-type: none;
}